.popupNavigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 20%;
  z-index: 1;
}

.popupNavigation_is-opened {
  display: flex;
  @media screen and (min-width: 745px) {
    display: none; 
  }
}

.popupNavigation__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(174,205,229);
  transform: translateX(-200%);
  animation: ani 1s forwards;
  border: 4px #fff solid;
}

@keyframes ani {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.popupNavigation__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;
}

.popupNavigation__link {
  font-size: 1.4em;
  color: rgb(174, 205, 229);
  cursor: pointer;
  text-decoration: none;
  font-family: "Biotif";
  line-height: 3;
}
